deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] {% if in_china == 'yes' %} https://mirrors.aliyun.com/docker-ce/linux/debian {% else %} https://download.docker.com/linux/debian {% endif %} {{ ansible_distribution_release }} stable
