JetBrains[[:space:]]Mono[[:space:]]ExtBd[[:space:]]Ita[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-bold.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-lightitalic.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Bold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Medium[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-bolditalic.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]ExtBd[[:space:]]Ita[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Medium[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-light.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]ExtraBold[[:space:]]ExtBd[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]ExtraBold[[:space:]]ExBd[[:space:]]I[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Medium[[:space:]]Med[[:space:]]Ita[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Medium[[:space:]]Medium[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-extralight.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-regular.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Bold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Medium[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Medium[[:space:]]Med[[:space:]]Ita[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-semibolditalic.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]ExtraBold[[:space:]]ExBd[[:space:]]I[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]ExtraBold[[:space:]]ExtBd[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-italic.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Extra[[:space:]]Bold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Bold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Extra[[:space:]]Bold[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Medium[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Regular[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete[[:space:]]Mono.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-extralightitalic.ttf filter=lfs diff=lfs merge=lfs -text
sarasa-mono-sc-semibold.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Bold[[:space:]]Italic[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Regular[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
JetBrains[[:space:]]Mono[[:space:]]Medium[[:space:]]Medium[[:space:]]Nerd[[:space:]]Font[[:space:]]Complete.ttf filter=lfs diff=lfs merge=lfs -text
